<%- include("../partials/header", {"title": "Create Pattern", "styles": ["pattern-create"]}); %>
<div class="content">
    <% if (example) { %>
        <h5>Example Skill</h5>
        <div class="panel">
            <div class="panel-inner">
                <input type="text" id="example" value="<%- example %>">
            </div>
        </div>
    <% } %>
    <h5>Triggers</h5>
    <div class="panel">
        <div class="panel-inner" id="trigDiv">
            <div class="row">
                <div class="three columns"><input type="checkbox" id="trig0" <%= triggers[0] ? "checked" : "" %>>
                    <label for="trig0">Entry</label></div>
                <div class="three columns"><input type="checkbox" id="trig1" <%= triggers[1] ? "checked" : "" %>>
                    <label for="trig1">Live Join</label></div>
                <div class="three columns"><input type="checkbox" id="trig2" <%= triggers[2] ? "checked" : "" %>>
                    <label for="trig2">Live Success</label></div>
                <div class="three columns"><input type="checkbox" id="trig3" <%= triggers[3] ? "checked" : "" %>>
                    <label for="trig3">While Live</label></div>
            </div>
            <div class="row">
                <div class="three columns"><input type="checkbox" id="trig4" <%= triggers[4] ? "checked" : "" %>>
                    <label for="trig4">Starter</label></div>
                <div class="three columns"><input type="checkbox" id="trig5" <%= triggers[5] ? "checked" : "" %>>
                    <label for="trig5">Auto</label></div>
                <div class="three columns"><input type="checkbox" id="trig6" <%= triggers[6] ? "checked" : "" %>>
                    <label for="trig6">On Stand-By</label></div>
                <div class="three columns"><input type="checkbox" id="trig7" <%= triggers[7] ? "checked" : "" %>>
                    <label for="trig7">Special Practice</label></div>
            </div>
        </div>
    </div>
    <h5>Pattern</h5>
    <div class="panel">
        <div class="panel-inner">
            <div class="row">
                <div class="six columns">
                    <h6>Regex</h6>
                    <textarea
                            id="regex"><%- example !== undefined ? "^" + pattern.replace(/[()]/g, "\\$&") + "$" : pattern %></textarea>
                    <div id="regex_error" class="error">aaa</div>
                </div>
                <div class="six columns">
                    <h6>Template</h6>
                    <textarea id="template"><%- template %></textarea>
                    <div id="template_error" class="error">aaa</div>
                </div>
            </div>
            <div id="regex_div">
                <span class="pill">([０-９]+)</span> <span class="pill">([０-９])([０-９])([０-９])</span> <span class="pill">((?:【(?:オール|赤|緑|青)】)+)</span>
                <span class="pill">(【(?:オール|赤|緑|青)】)</span> <span
                        class="pill">([^「」]+?)</span><br>
            </div>
            <div id="template_div">
                <span class="pill">⟪SCOUT⟫</span> <span class="pill">⟪ENTER⟫</span> <span class="pill">⟪LIVE⟫</span><br>
                <span class="pill">[LIVE]</span> <span class="pill">[RUSH]</span> <span class="pill">[ALL]</span>
                <span class="pill">[SMILE]</span> <span class="pill">[PURE]</span> <span
                        class="pill">[COOL]</span><br>
                <span class="pill">the Any Piece requirement is reduced by &lt;X&gt;</span> <span class="pill">the Attribute Piece requirement changes to [&lt;X&gt;&lt;X&gt;&lt;X&gt;]</span><br>
                Capitalization: "Stage" "Stand-By" "Hand" "Deck" "Member" "Song" "card" "Live Outfit" "Live Points"
                "Attribute" "Collection" "Idolized"<br>
                <span class="pill">you have Members on Stand-By</span> <span
                        class="pill">on Stand-By on your Stage</span> <span class="pill">If you do,</span> <span
                        class="pill">you may</span> <span class="pill">gain +&lt;X&gt;</span> <span class="pill">in your Hand</span><br>
                In ": Names, Groups, Years, Song Names, Card Names/IDs<br>
                <span class="pill">without Stars</span> <span class="pill">1 Star or more</span><br>
                <span class="pill">Flip/Look at the top card of your Deck</span> <span class="pill">add/return a card to your Hand</span>
                <span class="pill">Do either: ①②</span><br>
                <span class="pill">face-down</span> <span class="pill">face-up</span> <span class="pill">base Live Points</span>
                <span class="pill">bring from your Collection to your Stage</span><br>
                <span class="pill">«LIVE» with this Member</span> <span class="pill">returned Member</span> <span
                        class="pill">differently named (group) Members (with)</span>
                <span class="pill">gain ♪Live Points +&lt;X&gt;♪</span>
            </div>
        </div>
    </div>
    <a class="button button-primary" id="submit">Submit</a>
    <% if (example) { %>
        <h5>Result</h5>
        <div class="panel">
            <div class="panel-inner" id="result">
            </div>
        </div>
    <% } %>
    <h5>Groups</h5>
    <div class="panel">
        <div class="panel-inner" id="groupslist">
            <% for (const i of [...new Array(15)].map((e,i) => i)) {
                const g = i + 1; %>
            <h6>Group <%- g %> <span id="group<%- g %>_match"></span></h6>
            <div class="row">
                <div class="three columns">
                    <input type="radio" name="group<%- g %>"
                           id="group<%- g %>_type0" <%= groupTypes[i] === 0 ? "checked" : "" %>>
                    <label for="group<%- g %>_type0">Name/Group</label>
                </div>
                <div class="three columns">
                    <input type="radio" name="group<%- g %>"
                           id="group<%- g %>_type1" <%= groupTypes[i] === 1 ? "checked" : "" %>>
                    <label for="group<%- g %>_type1">Song Name</label>
                </div>
                <div class="three columns">
                    <input type="radio" name="group<%- g %>"
                           id="group<%- g %>_type2" <%= groupTypes[i] === 2 ? "checked" : "" %>>
                    <label for="group<%- g %>_type2">Costume Name</label>
                </div>
                <div class="three columns">
                    <input type="radio" name="group<%- g %>"
                           id="group<%- g %>_type3" <%= groupTypes[i] === 3 ? "checked" : "" %>>
                    <label for="group<%- g %>_type3">Memory Name</label>
                </div>
            </div>
            <div class="row">
                <div class="three columns">
                    <input type="radio" name="group<%- g %>"
                           id="group<%- g %>_type4" <%= groupTypes[i] === 4 ? "checked" : "" %>>
                    <label for="group<%- g %>_type4">Number</label>
                </div>
                <div class="three columns">
                    <input type="radio" name="group<%- g %>"
                           id="group<%- g %>_type5" <%= groupTypes[i] === 5 ? "checked" : "" %>>
                    <label for="group<%- g %>_type5">Number (Text)</label>
                </div>
                <div class="three columns">
                    <input type="radio" name="group<%- g %>"
                           id="group<%- g %>_type6" <%= groupTypes[i] === 6 ? "checked" : "" %>>
                    <label for="group<%- g %>_type6">Number (Ordinal)</label>
                </div>
                <div class="three columns">
                    <input type="radio" name="group<%- g %>"
                           id="group<%- g %>_type7" <%= groupTypes[i] === 7 ? "checked" : "" %>>
                    <label for="group<%- g %>_type7">Pieces</label>
                </div>
            </div>
            <% } %>
        </div>
    </div>
</div>
<script>const patternid = <%- patternid %>;</script>
<%- include("../partials/footer", {"jquery": true, "scripts": ["pattern-create"]}); %>