<%- include("../partials/header", {"title": "Untranslated", "styles": []}); %>
<div class="content">
    <h5><%= untranslated.length %> Untranslated Card Skill(s)</h5>
    <div class="panel">
        <div class="panel-inner">
            <table>
                <thead>
                <tr>
                    <th>Card</th>
                    <th>JPN</th>
                    <th>Pattern</th>
                </tr>
                </thead>
                <tbody>
                <% untranslated.forEach(function(a) { %>
                    <tr>
                        <th><a href="/card/<%= a.cardNo %>"><%= a.cardNo %></a></th>
                        <td><%- a.skill.replace(/\n/g, "<br>") %></td>
                        <td><a href="/pattern/create/<%= a.cardNo %>/<%= a.line %>/">Create</a></td>
                    </tr>
                <% }); %>
                </tbody>
            </table>
        </div>
    </div>
</div>
<%- include("../partials/footer", {"jquery": false, "scripts": []}); %>