<%- include("../partials/header", {"title": "General FAQ &bull; How To Play", "styles": ["faq","skill"]}); %>

<div class="content">
    <div class="panel">
        <div class="panel-inner">
            <h4>Cards</h4>
            <h5>Is it okay to put two Song cards with the same name, but different Attributes into my Deck?</h5>
            <div class="question" id="songs_with_different_attributes">
                If two Song cards have different Attributes but the same name, can I put both into my Set List?
            </div>
            <div class="answer">
                Yes, you can put one of each into your Set List!<br>
                To be precise, cards are differentiated by the ID in the bottom right of the card. If the Song name is
                the same but the ID is different, you can put both into your Deck.<br>
                For example, you can't put <a href="/card/LL01-067/">LL01-067 "Sore wa Bokutachi no Kiseki / Datte Datte
                    Aa Mujou"</a> into your Set List twice, but you if you have both <a href="/card/EX01-029/">EX01-029
                    "Sore wa Bokutachi no Kiseki / Datte Datte Aa Mujou"</a> (ID: 0029) and <a href="/card/LL01-067/">LL01-067
                    "Sore wa Bokutachi no Kiseki / Datte Datte Aa Mujou"</a> (ID: 0100), you can have one of each in
                your Set List!
            </div>

            <div class="question" id="muse_and_aqours_song_cards">
                Which Song cards are <span class="redtext">"µ's"</span> Song cards / <span
                        class="redtext">"Aqours"</span> Song cards?
            </div>
            <div class="answer">
                As of November 2021, <span class="redtext">"µ's"</span> Song cards include:
                <ul>
                    <li>All Song cards from sets <a href="/set/LL01/">LL01</a> to <a href="/set/LL03/">LL03</a>,
                        <a href="/set/LL13/">LL13</a>, <a href="/set/EX01/">EX01</a>, <a href="/set/EX11/">EX11</a>, <a
                                href="/set/EX15/">EX15</a></li>
                    <li><a href="/card/PR-012/">PR-012 "Let's Sing With Everyone ♪"</a></li>
                    <li><a href="/card/PR-032/">PR-032 "MOMENT RING"</a></li>
                    <li><a href="/card/PR-203/">PR-203 "Snow halation"</a></li>
                    <li><a href="/card/PR-215/">PR-215 "SUNNY DAY SONG"</a></li>
                    <li><a href="/card/PR-226/">PR-226 "Yume no Tobira"</a></li>
                </ul>
                As of November 2021, <span class="redtext">"Aqours"</span> Song cards include:
                <ul>
                    <li>All Song cards from sets <a href="/set/LL04/">LL04</a> to <a href="/set/LL12/">LL12</a>, <a
                                href="/set/LL14/">LL14</a> to <a href="/set/LL17/">LL17</a>, <a
                                href="/set/EX03/">EX03</a>, <a href="/set/EX09/">EX09</a>, <a href="/set/EX14/">EX14</a>
                        (except for: <a href="/card/LL10-062/">LL10-062 "CRASH MIND"</a>, <a href="/card/LL10-063/">LL10-063
                            "DROPOUT!?"</a>, <a href="/card/LL14-064/">LL14-064 "Believe again"</a>, <a
                                href="/card/LL15-057/">LL15-057 "SELF CONTROL!!"</a>)
                    </li>
                    <li><a href="/card/PR-069A/">PR-069A "Aozora Jumping Heart"</a> / <a href="/card/PR-069B/">PR-069B "Aozora Jumping Heart"</a></li>
                    <li><a href="/card/PR-124/">PR-124 "We Want To Shine!!"</a></li>
                    <li><a href="/card/PR-173/">PR-173 "MIRACLE WAVE"</a></li>
                    <li><a href="/card/PR-193/">PR-193 "Let's Sing With Everyone ♪"</a></li>
                    <li><a href="/card/PR-204/">PR-204 "Bokura no Hashittekita Michi wa..."</a></li>
                    <li><a href="/card/PR-225/">PR-225 "Next SPARKLING!!"</a></li>
                </ul>
            </div>
            <h5>What is the "On Stand-By" state?</h5>
            <div class="question" id="stand_by">
                What is the "On Stand-By" state?
            </div>
            <div class="answer">
                <%- skillFormat("When a Member has ⟪ENTER⟫ed the Stage, but hasn't joined a ⟪LIVE⟫ yet. The moment a Member ⟪ENTER⟫s, they are \"On Stand-By\".") %>
            </div>
            <div class="question" id="stand_by_self">
                <%- skillFormat("If an [Entry] Skill says \"Members on Stand-By\", does that include the Member that just ⟪ENTER⟫ed the Stage (the one who owns that Skill)?") %>
            </div>
            <div class="answer">
                <%- skillFormat("Yes. A Member is always in the \"On Stand-By\" state when they ⟪ENTER⟫.") %>
            </div>

            <h5>What does "Members on Stage" mean?</h5>
            <div class="question" id="members_on_stage">
                If a Skill says "Members on Stage", which Members are counted?
            </div>
            <div class="answer">
                This includes both waiting Members and Members who are used for Lives. You can also just remember that
                it means "all Members outside your Deck and Hand".
            </div>

            <h5>How do I count Members?</h5>
            <div class="question" id="member_counting">
                What does it mean when Skills say "X Members" or "X differently named Members"? And what is the
                difference?
            </div>
            <div class="answer">
                Unless specified otherwise, "X Members" counts all Member cards, even if they have duplicate names, card
                numbers or IDs. On the other hand, "X differently named Members" means that you only count Members with
                different names in their profiles.<br>
                When counting "differently named Members", count how many of the Member cards have different Names. For
                example, if you perform a <%- skillFormat("⟪LIVE⟫") %> with Member cards of <span
                        class="redtext">"Honoka"</span>, <span class="redtext">"Honoka"</span>, <span class="redtext">"Honoka"</span>,
                <span class="redtext">"Kotori"</span>, <span class="redtext">"Kotori"</span> and <span class="redtext">"Umi"</span>
                joining, you will have 6 Members, but only 3 differently named Members.
            </div>

            <h5>What happens if my Deck runs out during a match?</h5>
            <div class="question" id="deck_runs_out">
                During a match, I drew a card and my Deck ran out. What happens now?
            </div>
            <div class="answer">
                If your Deck runs out, keep playing! Do your best to reach the Live Points goal with the Members on your
                Stage and in your
                Hand! <%- skillFormat("If you're unable to ⟪ENTER⟫ a card, ⟪SCOUT⟫ or perform a ⟪LIVE⟫") %>,
                you must pass
                your turn. If every player had to pass in a round, the match ends in a draw for the remaining players.
            </div>

            <h5>What does "Collection" mean?</h5>
            <div class="seealso">
                See also: <a href="/faq/rules#official_collection">Official Event Rules → Collection</a>
            </div>
            <div class="question" id="collection">
                If a Skill says "Collection", what does it mean?
            </div>
            <div class="answer">
                The "Collection" refers to any SIC cards you own, but are not using in the current match.
            </div>
            <div class="question" id="collection_ignores_deck_restrictions">
                Can I take a Member card out of my Collection if I already have four of the same card in my Deck?
            </div>
            <div class="answer">
                Yes. When using a Skill to bring cards into play from your Collection, the Deck construction
                restrictions (maximum number of a card, total Cost, etc.) do not apply.
            </div>

            <h5>What does "Pair" ("Trio") mean?</h5>
            <div class="note">
                The following answers for Pairs apply to Trios as well - replace "Pair" with "Trio" and "two Members"
                with "three Members" for these.
            </div>
            <div class="question" id="group">
                What does "Pair up" ("Form a Trio") mean?
            </div>
            <div class="answer">
                If you have unpaired Members on Stand-By whose ID and name match with those written in the Skill, place
                the two cards side by side. This state is called "Paired". Paired Members will be able to use their Pair
                Skill (the lower field that goes across both cards). Also, the two Members of a Pair must perform in
                <%- skillFormat("⟪LIVE⟫") %>s together.
            </div>
            <div class="question" id="group_counting">
                When counting Members, how are Paired Members counted?
            </div>
            <div class="answer">
                Count each Member separately, just as usual. (The Pair will not count as a single card, and their name
                will also not become, for example, "<a href="/card/LL11-057/">Mari</a> & <a
                        href="/card/LL11-052/">Kanan</a>".)
            </div>
            <div class="question" id="group_return">
                A Skill is making me move one of the Paired Members off the Stage, and return it into my Deck or Hand.
                What happens in this case?
            </div>
            <div class="answer">
                Only return one of the Members. The other Member will remain on Stage and will no longer be Paired.
            </div>
            <div class="question" id="group_facedown">
                A Skill is making me turn one of the Paired Members face-down. What happens in this case?
            </div>
            <div class="answer">
                Only flip one of the Members. The other Member will remain face-up and will no longer be Paired.
            </div>
            <div class="question" id="group_required">
                If a Skill requires me to "Pair up" ("Form a Trio") and there is a matching Member, can I choose not to
                pair them? And can I unpair Members?
            </div>
            <div class="answer">
                If there are matching Members, they must be Paired up. Also, you cannot freely unpair Members.
            </div>

            <h5>What does "Special Practice" mean?</h5>
            <div class="question" id="special_practice">
                What do [Special Practice] Skills do?
            </div>
            <div class="answer">
                <%- skillFormat("If you Enter a Member with a [Special Practice] Skill, you can use that Skill by stacking on top of another Member card that matches the requirements. When ⟪ENTER⟫ing a Member with [Special Practice], you can flip an Unidolized Member on Stand-By who matches the name or other requirements listed next to the [Special Practice] icon facedown and place the ⟪ENTER⟫ing Member on top of them. Members that are stacked on top of another \"Member\" card are Idolized Members.") %>
            </div>
            <div class="question" id="special_practice_optional">
                Can I choose not to perform <%- skillFormat("[Special Practice]") %>, even if there are
                matching Members on Stage?
            </div>
            <div class="answer">
                Yes. You can freely decide whether you want to use <%- skillFormat("[Special Practice]") %> or
                not.
            </div>
            <div class="question" id="special_practice_always">
                Can I perform <%- skillFormat("[Special Practice]") %> both when
                I <%- skillFormat("⟪ENTER⟫ ") %> a card through an action on my turn and when I
                <%- skillFormat("⟪ENTER⟫ ") %> a card through a Skill?
            </div>
            <div class="answer">
                Yes, both work.
            </div>

            <h5>What does "Idolized" mean?</h5>
            <div class="question" id="idolized">
                What does "Idolized" or "Unidolized" mean?
            </div>
            <div class="answer">
                Members that are stacked on top of another Member card are Idolized. Members who are not Idolized,
                including those who do not have a <%- skillFormat("[Special Practice]") %> Skill, are
                Unidolized.
            </div>

            <div class="question" id="idolized_no_pieces">
                Can Members who do not have <%- skillFormat("[Idolized (Piece Bonus)]") %>, such as <a
                        href="/card/LL15-050/">LL15-050 "Kanan
                    Matsuura"</a>, be Idolized? What happens if they are Idolized?
            </div>
            <div class="answer">
                Yes, Members that are stacked on top of other Member cards are Idolized even if they don't have
                <%- skillFormat("[Idolized (Piece Bonus)]") %>. In these cases, the Idolized state might still
                be referred to in the Member's
                Skills, or can be used with a Song card's Skill.
            </div>
            <div class="question" id="idolized_live">
                When an Idolized Member performs in a <%- skillFormat("⟪LIVE⟫") %>, what should I do with the
                face-down card they're stacked on
                top of?
            </div>
            <div class="answer">
                The face-down card remains below the Idolized Member when performing in
                the <%- skillFormat("⟪LIVE⟫") %> and is stays
                face-down. Be careful not to mix up the face-down card with the other Members performing in
                the <%- skillFormat("⟪LIVE⟫.") %>
            </div>
            <div class="question" id="idolized_move">
                An Idolized Member is being moved from the Stage to my Deck or Hand. What happens to the face-down card
                they're stacked on top of in that case?
            </div>
            <div class="answer">
                If an Idolized Member moves from the Stage to another location, such as the Deck or Hand, both the
                Idolized Member and the face-down card are moved to the same location. If they're moving to the top or
                bottom of the Deck, you can decide in which order they'll be.
            </div>

            <h5>What happens to a face-down Member card?</h5>
            <div class="question" id="member_facedown">
                If a Member card is turned face-down, does it count as a Member?
            </div>
            <div class="answer">
                No, a face-down Member card will not be counted as a Member even if it is on Stage. (When a Skill calls
                for counting Members, or counting Members with certain names or Live Costumes, face-down cards are not
                included.)
            </div>
        </div>
    </div>

    <div class="panel">
        <div class="panel-inner">
            <h4>Skills</h4>
            <h5>Can I use my Starting Members' <%- skillFormat("[Entry]") %> Skill?</h5>
            <div class="question" id="entry_at_start">
                When the Starting Members are turned face-up at the start of the match, can I
                use <%- skillFormat("that card's [RUSH] or [Entry] Skill") %>?
            </div>
            <div class="answer">
                No, <%- skillFormat("the card's [RUSH] and [Entry]") %> Skill will not be activated.<br>
                If all players agree, you can play with Starting Members' <%- skillFormat("[Entry]") %> Skills
                being activated as a house
                rule. If all of these Skills are activated at the beginning, picking a good Starting Member can give you
                a head start!
            </div>

            <h5>If a Skill's condition says "more/less than", does it also count if you have the same amount?</h5>
            <div class="question" id="more_less">
                If a Skill has a condition like "if you have less cards on your Hand than any of the other players" or
                "if you have more Live Points than any of the other players", is it also met if I have the same amount
                as another player?
            </div>
            <div class="answer">
                No, these conditions are not met if you have the exact same amount.
            </div>

            <h5>What happens if I am unable to do something a Skill tells me to do?</h5>
            <div class="question" id="skill_impossible">
                What if I can't do something a Skill tells me to do? For example:
                <ul>
                    <li>"<%- skillFormat("⟪SCOUT⟫") %>" or "Draw three cards", but there's not enough cards in
                        the Deck
                    </li>
                    <li>"<%- skillFormat("⟪ENTER⟫") %> one Member", but there's no Members able
                        to <%- skillFormat("⟪ENTER⟫") %></li>
                </ul>
            </div>
            <div class="answer">
                Do as much as you are able to, and skip the rest. For example, if the Skill tells you to "Draw three
                cards" but you only have two in your deck, draw those two cards and continue.
            </div>

            <h5>What happens if I do <%- skillFormat("[RUSH]→[RUSH] or [RUSH]→[LIVE]") %>?</h5>
            <div class="question" id="multiple_entry_abilities">
                <%- skillFormat("I ⟪ENTER⟫ed a Member with [RUSH], and used it to ⟪ENTER⟫ another Member with [RUSH] or [LIVE]. Can I use their [RUSH]/[LIVE] now?") %>
            </div>
            <div class="answer">
                <%- skillFormat("You can only use one [RUSH] per turn, so you cannot use a second [RUSH].<br> You can use a [LIVE] to immediately perform a ⟪LIVE⟫ ♪") %>
            </div>

            <h5>What should I do if I have to turn the top card of my Deck face-up?</h5>
            <div class="question" id="top_deck_card_faceup">
                A Skill made me turn the top card of my Deck face-up, without adding it to my hand
                or <%- skillFormat("⟪ENTER⟫") %>ing it. What
                should I do?
            </div>
            <div class="answer">
                Leave the card face-up. Once you can draw the card (by <%- skillFormat("⟪SCOUT⟫") %>ing, etc.),
                you can hide the card from the
                other players again.
            </div>

            <h5>Does the order of Actions in a Skill matter?</h5>
            <div class="question" id="skill_order_same_skill">
                If there are multiple things to do for one Skill, can I do them in any order?
            </div>
            <div class="answer">
                No. Make sure to perform everything in the order written. For example, if you activate
                the <%- skillFormat("[Entry]") %>
                Skill of <a href="/card/LL05-046/">LL05-046 "Chika Takami"</a> with no cards in your Hand and no Members
                used for Lives, you must draw cards before you perform a <%- skillFormat("⟪LIVE⟫") %>.
            </div>

            <h5>What if a Member card has two or more Skills?</h5>
            <div class="question" id="skill_order_multiple_skills">
                If a Member/Song/Memory card has two or more Skills (in one Skill field), can I use multiple if the
                conditions are met?
            </div>
            <div class="answer">
                Yes. You can use multiple Skills. For example, <a href="/card/LL01-063/">LL01-063 "Niko Yazawa"</a>
                can use both the <%- skillFormat("[Entry] and [Live Join]") %> Skills, as long as the
                conditions are met at those times.
                <br>
                Also, if a Member has two or more Skills with the same icon, such as <a href="/card/LL05-049/">LL05-049
                    "Dia Kurosawa"</a> and <a href="/card/EX10-002/">EX10-002 "Riko Sakurauchi"</a>, use them in order,
                from the top. (Do not perform other card's Skills in-between Skills with the same icon of one card.)
            </div>

            <h5>What does it mean if a Member card has two Skill fields?</h5>
            <div class="seealso">
                See also: <a href="#group">What does "Pair" ("Trio") mean?</a>
            </div>
            <div class="question" id="group_skill_field">
                What do I have to do to use the Skills of a Member with two Skill fields?
            </div>
            <div class="answer">
                The top Skill can be used by just having the Member on Stage, like a normal Member card. The lower Skill
                can only be used when the Members are in a Pair (or Trio). (This also applies if the Skill text only
                spans one of the cards of the Pair, such as <a href="/card/LL11-057/">LL11-057 "Mari Ohara"</a>.)
            </div>


            <h5>What should I do if a Skill says "Do either: ① ~ ② ~"?</h5>
            <div class="question" id="do_either">
                How should I handle a Skill that says "Do either: ① ~ ② ~"?
            </div>
            <div class="answer">
                Between the two effects, ① and ②, choose the one you'd like to perform. (If it says "Do either", you
                must pick one of the two.)<br>
                For example, in the <%- skillFormat("[Entry]") %> Skill of <a href="/card/LL15-051/">LL15-051
                    "Dia Kurosawa"</a>, you can
                choose whichever effect you want between the two listed effects. (If the Member is Idolized, it's
                recommended to pick ②.)
            </div>
            <div class="question" id="do_either_conditions">
                For Skills like the <%- skillFormat("[Entry]") %> Skill of <a href="/card/LL15-051/">LL15-051
                    "Dia Kurosawa"</a>, where it
                says "② If this Member is Idolized" - can I pick effects with conditions even if they are not met?
            </div>
            <div class="answer">
                Yes. You can choose that effect, but if the conditions are not met, nothing will happen.
            </div>
        </div>
    </div>

    <div class="panel">
        <div class="panel-inner">
            <h4>Lives</h4>
            <h5>Can I perform a <%- skillFormat("⟪LIVE⟫") %> with more Pieces than the requirement?</h5>
            <div class="question" id="live_non_exact">
                Using the Members I have on Stage, I can't match the requirements of a Song card exactly. I won't be
                able to perform a <%- skillFormat("⟪LIVE⟫") %> this way, right?
            </div>
            <div class="answer">
                No, you can perform a <%- skillFormat("⟪LIVE⟫") %> even if your total Pieces exceed the
                requirement! However, you won't be
                able to use the excess Pieces for other Lives, so be careful not to run out of Pieces you need for more
                Lives.<br>
                As one example, it's alright if you just have every Member you have on Stand-By join when performing
                a <%- skillFormat("⟪LIVE⟫") %> that will hit the Live Points goal ♪ It's a big deal, so let's
                have them all perform together
                for the big, exciting finale!
            </div>

            <h5>What happens to Pieces that were gained/changed using a <%- skillFormat("[Live Join]") %>
                Skill?</h5>
            <div class="question" id="live_join_pieces">
                A Member has gained additional Pieces or changed Pieces due to the effects of
                a <%- skillFormat("[Live Join]") %> Skill.
                What happens to those Pieces after a successful <%- skillFormat("⟪LIVE⟫") %>?
            </div>
            <div class="answer">
                Pieces that have been added or changed through a <%- skillFormat("[Live Join]") %> Skill will
                remain like that afterwards,
                for the rest of the match. So if, for example, you perform a <%- skillFormat("⟪LIVE⟫") %>
                using <a href="/card/EX11-047/">
                    EX11-047 "Angelic Angel"</a> as the Song card, its Skill will count
                the <%- skillFormat("[ALL]") %> the Members gained
                from <%- skillFormat("[Live Join]") %> Skills, too.
            </div>

            <h5>What is the order for <%- skillFormat("[Live Join] / [Live Success]") %> Skills?</h5>
            <div class="question" id="join_success_order">
                When performing a <%- skillFormat("⟪LIVE⟫") %>, if both a joining Member and the Song card
                have a <%- skillFormat("[Live Join]") %> Skill, which one
                goes first?
            </div>
            <div class="answer">
                You can perform them in any order you like. This also applies
                to <%- skillFormat("[Live Success]") %> Skills. For example,
                if you only have three cards in your Hand, but then have <a href="/card/LL03-059/">LL03-059 "Rin
                    Hoshizora"</a> join a Live with <a href="/card/LL06-062/">LL06-062 "Waku-Waku-Week!"</a> as the Song
                card, you can perform the Member's <%- skillFormat("[Live Join]") %> Skill first so you can
                have four cards in your hand, to
                meet the conditions of the <%- skillFormat("[Live Join]") %> Skill of <span class="redtext">"Waku-Waku-Week!"</span>.
                Additionally, the following <%- skillFormat("[Auto]") %>
                Skills apply at the same time as <%- skillFormat("[Live Join] or [Live Success]") %> Skills,
                so you can also use them in any
                order you like.
                <br><br><%- skillFormat("[Live Join]") %>
                <ul>
                    <li><a href="/card/LL13-065/">LL13-065 "µ's Holiday Stories Eli Ayase"</a></li>
                    <li><a href="/card/LL13-066/">LL13-066 "µ's Holiday Stories Kotori Minami"</a></li>
                    <li><a href="/card/LL13-068/">LL13-068 "µ's Holiday Stories Rin Hoshizora"</a></li>
                    <li><a href="/card/LL14-069/">LL14-069 "Guidance of Angel Yohane"</a></li>
                    <li><a href="/card/LL14-073/">LL14-073 "Student Council President, Tsuki Watanabe"</a></li>
                </ul>
                <br><%- skillFormat("[Live Success]") %>
                <ul>
                    <li><a href="/card/LL11-070/">LL11-070 "#6 Aqours WAVE"</a></li>
                    <li><a href="/card/LL11-071/">LL11-071 "#9 Awaken the power"</a></li>
                    <li><a href="/card/LL13-064/">LL13-064 "µ's Holiday Stories Honoka Kousaka"</a></li>
                    <li><a href="/card/LL13-067/">LL13-067 "µ's Holiday Stories Umi Sonoda"</a></li>
                    <li><a href="/card/LL13-069/">LL13-069 "µ's Holiday Stories Maki Nishikino"</a></li>
                    <li><a href="/card/LL13-070/">LL13-070 "µ's Holiday Stories Nozomi Tojo"</a></li>
                    <li><a href="/card/LL13-071/">LL13-071 "µ's Holiday Stories Hanayo Koizumi"</a></li>
                    <li><a href="/card/LL13-072/">LL13-072 "µ's Holiday Stories Nico Yazawa"</a></li>
                    <li><a href="/card/LL14-068/">LL14-068 "MISSING!!"</a></li>
                    <li><a href="/card/LL14-070/">LL14-070 "You's Cousin, Tsuki Watanabe"</a></li>
                    <li><a href="/card/LL14-071/">LL14-071 "Love Live! Finals Overtime"</a></li>
                    <li><a href="/card/LL14-074/">LL14-074 "Together With Everyone, Towards The Future!"</a></li>
                </ul>
            </div>

            <h5>Between flipping over a new Song card from the Set List and
                the <%- skillFormat("[Live Success]") %> Skills, which one should
                go first?</h5>
            <div class="question" id="flip_before_skills">
                When performing a <%- skillFormat("⟪LIVE⟫") %>, what should be performed first - flipping over
                a new Song card, or the <%- skillFormat("[Live Success]") %> Skills?
            </div>
            <div class="answer">
                Flip a new Song card face-up first.<br>For example, when performing
                a <%- skillFormat("⟪LIVE⟫") %> using
                <a href="/card/LL06-061/">LL06-061 "Sora mo Kokoro mo Hareru kara"</a>, you reveal a new Song card
                before performing the Skill and turning one of the cards face-down.
            </div>

            <h5>What happens if there's additional face-up cards in the Set List?</h5>
            <div class="question" id="more_faceup_songs">
                There are currently three or more face-up Song cards in my Set List through Skills. If I perform
                a <%- skillFormat("⟪LIVE⟫") %>
                now, can I still flip over a new Song card?
            </div>
            <div class="answer">
                Yes. Regardless of how many face-up Song cards there are, if you perform
                a <%- skillFormat("⟪LIVE⟫") %>, you flip one of the
                face-down Song cards in your Set List face-up.
            </div>

            <h5>What should I do if I have to flip a Song card in my Set List face-down?</h5>
            <div class="question" id="no_shuffle_facedown_song">
                The <%- skillFormat("[Live Success]") %> Skill of <a href="/card/LL06-061/">LL06-061 "Sora mo
                    Kokoro mo Hareru kara"</a> says
                I should flip a face-up Song card face-down. How exactly should I do that?
            </div>
            <div class="answer">
                Simply flip it face-down in the same place where it is placed face-up. There is no need to shuffle your
                face-down Song cards unless specified otherwise.
            </div>
            <div class="question" id="may_flip_other_facedown_song">
                After flipping a Song card face-down through a Skill, if I perform
                a <%- skillFormat("⟪LIVE⟫") %> or can flip a Song card
                face-up using another Skill, which Song card should I flip?
            </div>
            <div class="answer">
                You can choose any face-down card in your Set List you like and flip it face-up. It doesn't matter
                whether it was face-down from the beginning or flipped over because of a Skill.
            </div>
        </div>
    </div>
</div>
<%- include("../partials/footer", {"jquery": true, "scripts": ["faq"]}); %>