<%- include("../partials/header", {"title": "LL05 FAQ &bull; How To Play", "styles": ["faq", "skill"]}); %>

<div class="content">
    <div class="panel">
        <div class="panel-inner">
            <h4>LL05 Frequenty Asked Questions</h4>

            <h5><a href="/card/LL05-046/">LL05-046 "Chika Takami"</a></h5>
            <div class="seealso">
                See also: <a href="/faq/general#stand_by">What is the "On Stand-By" state?</a>
            </div>
            <div class="seealso">
                See also: <a href="/faq/general#skill_order_same_skill">Does the order of Actions in a Skill matter?</a>
            </div>
            <div class="question" id="046">
                There are three conditions and effects each, can I use multiple effects of
                the <%- skillFormat("[Entry]") %> Skill if the respective conditions are met?
            </div>
            <div class="answer">
                Yes. For example, if you have no cards in your Hand and no Song cards used for Lives when this card
                is <%- skillFormat("⟪ENTER⟫ed, you may both draw three cards and perform a ⟪LIVE⟫") %> with
                this card.
            </div>

            <h5><a href="/card/LL05-047/">LL05-047 "Riko Sakurauchi"</a></h5>
            <div class="seealso">
                See also: <a href="/faq/general#skill_order_multiple_skills">What if a Member card has two or more
                    Skills?</a>
            </div>
            <div class="question" id="047_other">
                On the turn after this card
                was <%- skillFormat("⟪ENTER⟫ed, another <a href=\"/card/LL05-047/\">LL05-047 \"Riko Sakurauchi\"</a> was ⟪ENTER⟫ed. Can this card join a ⟪LIVE⟫") %>
                in my next turn?
            </div>
            <div class="answer">
                Yes.
                The <%- skillFormat("[Entry] Skills are handled seperately for each card, so the first card can join a ⟪LIVE⟫") %>
                . However, the second <span class="redtext">"Riko"</span> will not be able to join yet in that turn.
            </div>
            <div class="question" id="047_live">
                I used this
                card's <%- skillFormat("[RUSH] to ⟪ENTER⟫ another Member with [LIVE]. Can I perform a ⟪LIVE⟫?") %>
            </div>
            <div class="answer">
                Yes. This card cannot join
                the <%- skillFormat("⟪LIVE⟫ due to the Skill, but you can still perform ⟪LIVE⟫s using other Members' [LIVE].") %>
            </div>

            <h5><a href="/card/LL05-048/">LL05-048 "Kanan Matsuura"</a></h5>
            <div class="seealso">
                See also: <a href="/faq/general#skill_order_multiple_skills">What if a Member card has two or more
                    Skills?</a>
            </div>
            <div class="seealso">
                See also: <a href="/faq/general#stand_by">What is the "On Stand-By" state?</a>
            </div>
            <div class="question" id="048">
                I <%- skillFormat("⟪ENTER⟫ed this card using the [RUSH] from the [RUSH]/[LIVE] of <a href=\"/card/LL04-053/\">LL04-053 \"Mari Ohara\"</a>. In this case, can I perform a ⟪LIVE⟫") %>
                with those two cards?
            </div>
            <div class="answer">
                Yes. The <span class="redtext">"Mari"</span> card has
                a <%- skillFormat("[LIVE] icon, so you can use this card's Skill to perform a ⟪LIVE⟫") %>.
            </div>

            <h5><a href="/card/LL05-049/">LL05-049 "Dia Kurosawa"</a></h5>
            <div class="seealso">
                See also: <a href="/faq/general#skill_order_multiple_skills">What if a Member card has two or more
                    Skills?</a>
            </div>
            <div class="question" id="049_both">
                If both Skill's requirements are met, does this card get both Pieces?
            </div>
            <div class="answer">
                Yes. In that case, you will get two Pieces, one from each Skill.
            </div>
            <div class="question" id="049_name">
                If this card joins
                a <%- skillFormat("⟪LIVE⟫ with <a href=\"/card/LL04-057/\">LL04-057 \"Aqours☆HEROES\"</a> as the Song card, does it get +[ALL]") %>
                from the second Skill?
            </div>
            <div class="answer">
                No. The Song title is not part of the Skill text, so the requirement for the second Skill is not met.
            </div>

            <h5><a href="/card/LL05-050/">LL05-050 "You Watanabe"</a></h5>
            <div class="seealso">
                See also: <a href="/faq/general#stand_by">What is the "On Stand-By" state?</a>
            </div>

            <h5><a href="/card/LL05-051/">LL05-051 "Yoshiko Tsushima"</a></h5>
            <div class="seealso">
                See also: <a href="/faq/general#skill_order_multiple_skills">What if a Member card has two or more
                    Skills?</a>
            </div>
            <div class="seealso">
                See also: <a href="/faq/general#stand_by">What is the "On Stand-By" state?</a>
            </div>

            <h5><a href="/card/LL05-052/">LL05-052 "Hanamaru Kunikida"</a></h5>
            <div class="seealso">
                See also: <a href="/faq/general#skill_order_multiple_skills">What if a Member card has two or more
                    Skills?</a>
            </div>
            <div class="question" id="052_rush">
                If this card
                is <%- skillFormat("⟪ENTER⟫ed using a [RUSH], can I use it's own [RUSH] in addition to it's [On Entry]") %>
                Skill?
            </div>
            <div class="answer">
                No. You can only use
                one <%- skillFormat("[RUSH] per turn, so you cannot use this card's [RUSH]") %>.
            </div>
            <div class="question" id="052_icon">
                Using this
                card's <%- skillFormat("[On Entry] Skill, I ⟪ENTER⟫ed another <a href=\"/card/LL05-052/\">LL05-052 \"Hanamaru Kunikida\"</a>. Does this count as being ⟪ENTER⟫ed using [RUSH]") %>
                ?
            </div>
            <div class="answer">
                No. The Skill requires this card to have
                been <%- skillFormat("⟪ENTER⟫ed as the direct result of a [RUSH]. It does not depend on whether the card you used to ⟪ENTER⟫ this card has a [RUSH]") %>
                icon or not.
            </div>

            <h5><a href="/card/LL05-053/">LL05-053 "Mari Ohara"</a></h5>
            <div class="seealso">
                See also: <a href="/faq/general#join_success_order">What is the order
                    for <%- skillFormat("[Live Join]/[Live Success]") %> Skills?</a>
            </div>
            <div class="question" id="053">
                Can Pieces gained through <%- skillFormat("[Live Join]") %> Skills be used for this Skill's
                requirement?<br>
                For example, could <a href="/card/LL05-039/">LL05-039 "Kanan Matsuura"</a> be used as not only the
                Member for <%- skillFormat("[PURE], but also for [SMILE] or [COOL]") %> if her Skill is
                activated?
            </div>
            <div class="answer">
                Yes. If their requirements are met, Pieces gained through <%- skillFormat("[Live Join]") %>
                Skills can be used for this card's Skill's requirement.
            </div>

            <h5><a href="/card/LL05-054/">LL05-054 "Ruby Kurosawa"</a></h5>
            <div class="question" id="054">
                I <%- skillFormat("⟪ENTER⟫") %>ed this card through <a href="/card/LL04-054/">LL04-054 "Ruby
                    Kurosawa"</a>'s Skill. In that case, since <a href="/card/LL04-054/">LL04-054 "Ruby Kurosawa"</a> is
                placed at the bottom of the deck, can I <%- skillFormat("⟪ENTER⟫") %> it by choosing to show
                the bottom card of my deck with this card's Skill?
            </div>
            <div class="answer">
                Yes. <a href="/card/LL04-054/">LL04-054 "Ruby Kurosawa"</a> is at the bottom of the Deck at the time the
                <%- skillFormat("[Entry] Skill is resolved, so you can ⟪ENTER⟫") %> it from there.
            </div>

            <h5><a href="/card/LL05-056/">LL05-056 "Kimeta yo Hand in Hand"</a></h5>
            <div class="seealso">
                See also: <a href="/faq/general#member_counting">How do I count Members?</a>
            </div>

            <h5><a href="/card/LL05-057/">LL05-057 "Daisuki Dattara Daijoubu!"</a></h5>
            <div class="seealso">
                See also: <a href="/faq/general#member_counting">How do I count Members?</a>
            </div>

            <h5><a href="/card/LL05-059/">LL05-059 "Sunshine Pikkapika Ondo"</a></h5>
            <div class="question" id="059">
                We have counted the number of differently named Members on our Stages, but there's a tie between players for the lowest number. What happens in that case?
            </div>
            <div class="answer">
                The Skill resolves without anyone drawing cards.
            </div>

            <h5><a href="/card/LL05-060/">LL05-060 "Yume de Yozora o Terashitai"</a></h5>
            <div class="seealso">
                See also: <a href="/faq/general#member_counting">How do I count Members?</a>
            </div>

            <h5><a href="/card/LL05-061/">LL05-061 "Mijuku DREAMER"</a></h5>
            <div class="seealso">
                See also: <a href="/faq/general#member_counting">How do I count Members?</a>
            </div>
        </div>
    </div>
</div>
<%- include("../partials/footer", {"jquery": true, "scripts": ["faq"]}); %>