<%- include("../partials/header", {"title": "LL04 FAQ &bull; How To Play", "styles": ["faq", "skill"]}); %>

<div class="content">
    <div class="panel">
        <div class="panel-inner">
            <h4>LL04 Frequenty Asked Questions</h4>

            <h5><a href="/card/LL04-037/">LL04-037 "Chika Takami"</a> to <a href="/card/LL04-045/">LL04-045 "Ruby
                    Kurosawa"</a></h5>
            <div class="seealso">
                See also: <a href="/faq/general#member_counting">How do I count Members?</a>
            </div>
            <div class="question" id="037">
                When counting "differently named <span class="redtext">"Aqours"</span> Members", should I count the card that has this Skill, too?
            </div>
            <div class="answer">
                Yes. They count as well.
            </div>

            <h5><a href="/card/LL04-046/">LL04-046 "Chika Takami"</a></h5>
            <div class="seealso">
                See also: <a href="/faq/general#stand_by">What is the "On Stand-By" state?</a>
            </div>
            <div class="seealso">
                See also: <a href="/faq/general#member_counting">How do I count Members?</a>
            </div>
            <div class="seealso">
                See also: <a href="/faq/general#more_less">If a Skill's condition says "more/less than", does it also
                    count if you have the same amount?</a>
            </div>
            <div class="question" id="046">
                At the time I <%- skillFormat("⟪ENTER⟫") %>ed this Member, there were eight other Members on Stand-By. Can I <%- skillFormat("⟪SCOUT⟫") %>using
                this Skill?
            </div>
            <div class="answer">
                No. This Member counts as well, so there are nine Members on Stand-By and the Skill's condition is not
                met.
            </div>

            <h5><a href="/card/LL04-047/">LL04-047 "Riko Sakurauchi"</a></h5>
            <div class="seealso">
                See also: <a href="/faq/general#skill_order_multiple_skills">What if a Member card has two or more
                    Skills?</a>
            </div>
            <div class="seealso">
                See also: <a href="/faq/general#join_success_order">What is the order for <%- skillFormat("[Live Join]/[Live Success]") %>
                    Skills?</a>
            </div>
            <div class="question" id="047">
                If two or more of this card join a <%- skillFormat("⟪LIVE⟫") %>, can I flip further Song cards?
            </div>
            <div class="answer">
                Yes. For example, if two of this <span class="redtext">"Riko"</span> card join a <%- skillFormat("⟪LIVE⟫, you can, together with the one Song card you flip from performing a ⟪LIVE⟫") %> by default, flip a total of three cards.
            </div>

            <h5><a href="/card/LL04-048/">LL04-048 "Kanan Matsuura"</a></h5>
            <div class="question" id="048">
                The card I returned from my Hand to the bottom of my Deck to use the <%- skillFormat("[Entry] Skill was the last card in my Hand. Can I still choose the ⟪ENTER⟫") %> option?
            </div>
            <div class="answer">
                Yes. As long as you return a card to the bottom of your Deck, you can choose either.<br>
                If you don't have any cards in your Hand, you can't <%- skillFormat("⟪ENTER⟫") %> a card from your Hand, which means you can't do anything when picking that option.
            </div>

            <h5><a href="/card/LL04-049/">LL04-049 "Dia Kurosawa"</a></h5>
            <div class="question" id="049">
                What happens if the top card of the Deck is flipped face-up, or the Deck is empty?
            </div>
            <div class="answer">
                Even if the card is visible to them, the next player must "guess" whether it has <%- skillFormat("Stars") %> or not, then use the effect corresponding to the answer.<br>
                If your Deck is empty, you cannot use this Skill.
            </div>

            <h5><a href="/card/LL04-050/">LL04-050 "You Watanabe"</a></h5>
            <div class="seealso">
                See also: <a href="/faq/general#skill_order_same_skill">Does the order of Actions in a Skill matter?</a>
            </div>

            <h5><a href="/card/LL04-051/">LL04-051 "Yoshiko Tsushima"</a></h5>
            <div class="seealso">
                See also: <a href="/faq/general#member_counting">How do I count Members?</a>
            </div>

            <h5><a href="/card/LL04-052/">LL04-052 "Hanamaru Kunikida"</a></h5>
            <div class="question" id="052">
                Can the other players choose to not draw a card?
            </div>
            <div class="answer">
                No. You always draw three cards, and the other players always draw one card each.
            </div>

            <h5><a href="/card/LL04-060/">LL04-060 "Todokanai Hoshi da to Shitemo"</a></h5>
            <div class="seealso">
                See also: <a href="/faq/general#join_success_order">What is the order for <%- skillFormat("[Live Join]/[Live Success]") %>
                    Skills?</a>
            </div>

            <h5><a href="/card/LL04-061/">LL04-061 "Yozora wa Nandemo Shitteru no?"</a></h5>
            <div class="question" id="061_member">
                Is the draw limit increased by one even if I <%- skillFormat("⟪SCOUT⟫") %> using a Skill like the one of <a href="/card/LL04-046/">LL04-046 "Chika Takami"</a>?
            </div>
            <div class="answer">
                Yes. Even if you use a Skill to do so, <%- skillFormat("⟪SCOUT⟫") %>ing will always get +1 extra card. Note that Skills such as "Draw X cards" are not <%- skillFormat("⟪SCOUT⟫") %>s, so you cannot draw extra cards.
            </div>
            <div class="question" id="061_out">
                The player who used this Song card for a Live has won. Is the <%- skillFormat("[While Live]") %> Skill still active after
                that?
            </div>
            <div class="answer">
                Yes. <%- skillFormat("[While Live]") %> Skills will be active until the end of the game.
            </div>

            <h5><a href="/card/LL04-062/">LL04-062 "Tokimeki Bunruigaku"</a></h5>
            <div class="question" id="062">
                <a href="/card/LL04-053/">LL04-053 "Mari Ohara"</a> is joining this <%- skillFormat("⟪LIVE⟫, after I chose to use [RUSH] when I ⟪ENTER⟫ed her. Will she still gain +[ALL] from this Song card's Skill?") %>
            </div>
            <div class="answer">
                Yes. She has a <%- skillFormat("[LIVE] icon, so she will gain +[ALL]") %>.
            </div>

            <h5><a href="/card/LL04-064/">LL04-064 "Aozora Jumping Heart"</a></h5>
            <div class="seealso">
                See also: <a href="/faq/general#member_counting">How do I count Members?</a>
            </div>
            <div class="seealso">
                See also: <a href="/faq/general#flip_before_skills">Between flipping over a new Song card from the Set List and the <%- skillFormat("[Live Success]") %> Skills, which one should go first?</a>
            </div>

            <h5><a href="/card/LL04-065/">LL04-065 "Humming Friend"</a></h5>
            <div class="seealso">
                See also: <a href="/faq/general#join_success_order">What is the order for <%- skillFormat("[Live Join]/[Live Success]") %>
                    Skills?</a>
            </div>
            <div class="question" id="065">
                The Members joining this <%- skillFormat("⟪LIVE⟫ have 3x [SMILE] and 1x [ALL]") %> in total. Will the requirement be reduced to 2?
            </div>
            <div class="answer">
                No. This Skill requires four or more Pieces of one of the Attribute types <%- skillFormat("[SMILE], [PURE], [COOL] or [ALL]. You cannot count [ALL]") %> as a Piece of an Attribute of your choice.
            </div>
        </div>
    </div>
</div>
<%- include("../partials/footer", {"jquery": true, "scripts": ["faq"]}); %>