<%- include("partials/header", {"title": f.cardNo + " " + f.nameWithQuot, "styles": ["card","skill"]}); %>
<div class="content">
    <div class="row">
        <div class="three columns imgcont">
            <div><img src="/images/<%= f.cardNo.split("-")[0] %>/<%= f.cardNo %>-front.jpg"></div>
            <div><img src="/images/<%= f.cardNo.split("-")[0] %>/<%= f.cardNo %>-back.jpg"></div>
        </div>
        <div class="nine columns">
            <div class="panel">
                <div class="panel-inner">
                    <div class="row">
                        <h5><%- f.title %></h5>
                    </div>
                    <div class="row first">
                        <div class="one-half column inforow first">
                            <div>
                                Card ID
                                <% if (sameId.length > 0) { %>
                                    <br><span>Shared With</span>
                                <% } %>
                            </div>
                            <div>
                                <%= f.id %>
                                <% if (sameId.length > 0) { %>
                                    <br>
                                    <%- sameId.map(card => '<a href="/card/' + card.cardNo + '/">' + card.cardNo + ' (' + card.rarity + ')</a>').join("<br>"); %>
                                <% } %>
                            </div>
                        </div>
                        <div class="one-half column inforow">
                            <div>Type</div>
                            <div><%= f.type %></div>
                        </div>
                    </div>
                    <% if (f.isMember()) { %>
                        <div class="row">
                            <div class="one-half column inforow">
                                <div>Rarity</div>
                                <div><%= f.rarity %></div>
                            </div>
                            <div class="one-half column inforow">
                                <div>Cost</div>
                                <div class="cost"><%- f.cost %></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="one-half column inforow">
                                <div>Birthday</div>
                                <div><%= f.birthday %></div>
                            </div>
                            <div class="one-half column inforow">
                                <div>Year</div>
                                <div><%= f.year %></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="one-half column inforow">
                                <div>Ability</div>
                                <div><%- f.ability %></div>
                            </div>
                            <div class="one-half column inforow">
                                <div>Pieces
                                    <% if (f.hasIdolizePieces()) { %><br><span>Idolized</span>
                                    <% } %>
                                    <% if (f.hasBirthdayPieces()) { %><br><span>Birthday</span>
                                    <% } %>
                                </div>
                                <div><%- f.pieces %>
                                    <%- f.hasIdolizePieces() ? "<br>" + f.piecesIdolized : "" %>
                                    <%- f.hasBirthdayPieces() ? "<br>" + f.piecesBirthday : "" %></div>
                            </div>
                        </div>
                        <div class="row inforow">
                            <div>Costume</div>
                            <div><%= f.costume %></div>
                        </div>
                    <% } else if (f.isSong()) { %>
                        <div class="row">
                            <div class="one-half column inforow">
                                <div>Rarity</div>
                                <div><%= f.rarity %></div>
                            </div>
                            <div class="one-half column inforow">
                                <div>Attribute</div>
                                <div><%= f.attribute %></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="one-half column inforow">
                                <div>Live Points</div>
                                <div><%= f.livePoints %></div>
                            </div>
                            <div class="one-half column inforow">
                                <div>Requirement</div>
                                <div><%- f.requirement %></div>
                            </div>
                        </div>
                    <% } %>
                    <div class="row inforow">
                        <div>Skill</div>
                        <div><%- f.skillJpn %></div>
                    </div>
                    <div class="row inforow">
                        <div>&nbsp;</div>
                        <div><%- f.skillEng %></div>
                    </div>

                    <% if (f.isMember() && f.hasGroup()) { %>
                        <div class="row inforow first">
                            <div><%= f.groupType %> With</div>
                            <div><%- f.groupMembers %></div>
                        </div>
                        <div class="row inforow">
                            <div><%= f.groupType %> Skill</div>
                            <div><%- f.groupSkillJpn %></div>
                        </div>
                        <div class="row inforow">
                            <div>&nbsp;</div>
                            <div><%- f.groupSkillEng %></div>
                        </div>
                    <% } %>

                    <% if (f.backlinks.length > 0) { %>
                        <div class="row inforow first">
                            <div>See Also</div>
                            <div>
                                <%- f.backlinks.join("<br>") %>
                            </div>
                        </div>
                    <% } %>

                    <% if (f.faqs.length > 0) { %>
                        <div class="row inforow<%- (f.backlinks.length > 0) ? "" : " first" %>">
                            <div>Related FAQ</div>
                            <div class="faqs">
                                <% for(var i = 0; i < f.faqs.length; i++) { %>
                                    <a href="<%- f.faqs[i].link %>"><%- skillFormat(f.faqs[i].label) %></a>
                                <% } %>
                            </div>
                        </div>
                    <% } %>
                </div>
            </div>
            <div class="cardcopyright"><%= f.copyright %></div>
            <div class="buttons">
                <div class="buttonrow">
                    <% if (f.prevCardNo !== null) { %>
                        <a class="button button-primary" href="/card/<%= f.prevCardNo %>/">&#129152;</a>
                    <% } %>
                    <% if (f.nextCardNo !== null) { %>
                        <a class="button button-primary" href="/card/<%= f.nextCardNo %>/">&#129154;</a>
                    <% } %>
                </div>
                <div class="buttonrow">
                    <a class="button" href="/set/<%= f.set %>/">View Set</a>
                </div>
                <div class="buttonrow">
                    <a class="button" href="/">View Full Card List</a>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include("partials/footer", {"jquery": false, "scripts": []}); %>