<%- include("../partials/header", {"title": "LL02 FAQ &bull; How To Play", "styles": ["faq", "skill"]}); %>

<div class="content">
    <div class="panel">
        <div class="panel-inner">
            <h4>LL02 Frequenty Asked Questions</h4>

            <h5><a href="/card/LL02-046/">LL02-046 "Honoka Kousaka"</a> to <a href="/card/LL02-054/">LL02-054 "Nico
                    Yazawa"</a></h5>
            <div class="question" id="046">
                Does this Skill require both of the listed Members to join the <%- skillFormat("⟪LIVE⟫") %>?
            </div>
            <div class="answer">
                No. If, for example, <a href="/card/LL02-046/">LL02-046 "Honoka Kousaka"</a> is joining
                a <%- skillFormat("⟪LIVE⟫ with either a <span class=\"redtext\">\"Kotori\"</span> or <span class=\"redtext\">\"Hanayo\"</span> card, she will gain +[ALL]") %>
                .
            </div>

            <h5><a href="/card/LL02-055/">LL02-055 "Honoka Kousaka"</a></h5>
            <div class="question" id="055">
                If I don't have two <span class="redtext">"Honoka"</span> cards in my Hand, can I keep my Hand hidden?
            </div>
            <div class="answer">
                Yes. Because the Skill says "You may show", you are not forced to reveal your Hand.
            </div>

            <h5><a href="/card/LL02-056/">LL02-056 "Eli Ayase"</a></h5>
            <div class="seealso">
                See also: <a href="/faq/general#entry_at_start">Can I use my Starting
                    Members' <%- skillFormat("[Entry]") %> Skill?</a>
            </div>
            <div class="seealso">
                See also: <a href="/faq/general#stand_by">What is the "On Stand-By" state?</a>
            </div>
            <div class="question" id="056_only">
                If this card is the only <span class="redtext">"Eli"</span> card on Stand-By
                after <%- skillFormat("⟪ENTER⟫") %>ing, do I have to return it to my Hand?
            </div>
            <div class="answer">
                Yes. Return the <%- skillFormat("⟪ENTER⟫") %>ed Member to your Hand.
            </div>
            <div class="question" id="056_none">
                Can I return an <span class="redtext">"Eli"</span> card without Stars to my Hand?
            </div>
            <div class="answer">
                Yes. You can't draw any cards, but you can return the Member to your Hand.
            </div>

            <h5><a href="/card/LL02-057/">LL02-057 "Kotori Minami"</a></h5>
            <div class="question" id="057_live">
                Can I only use this Skill if I perform a <%- skillFormat("⟪LIVE⟫ using this card's [LIVE]") %>
                ?
            </div>
            <div class="answer">
                No. You can use this skill in any <%- skillFormat("⟪LIVE⟫") %> this Member is joining.
            </div>
            <div class="question" id="057_may">
                Do I have to return a Member to the bottom of my Deck if this card joins
                a <%- skillFormat("⟪LIVE⟫") %>?
            </div>
            <div class="answer">
                No. Because the Skill says "You may return", you do not have to return a Member if you already have
                enough Pieces.
            </div>

            <h5><a href="/card/LL02-059/">LL02-059 "Rin Hoshizora"</a></h5>
            <div class="question" id="059">
                After entering this Member using a <span class="redtext">"Rin"</span>
                card's <%- skillFormat("[RUSH], I ⟪ENTER⟫ed a card with an [Entry]") %> Skill (such
                as <a href="/card/LL02-055/">LL02-055 "Honoka Kousaka"</a>), and I also drew a card. Can I use the card
                I drew for the <%- skillFormat("⟪ENTER⟫") %>ed card's Skill?
            </div>
            <div class="answer">
                Yes. You draw the card before resolving the <%- skillFormat("⟪ENTER⟫ed card's [Entry]") %>
                Skill, so you can use that card for
                it.
            </div>

            <h5><a href="/card/LL02-060/">LL02-060 "Maki Nishikino"</a></h5>
            <div class="seealso">
                See also: <a href="/faq/general#stand_by">What is the "On Stand-By" state?</a>
            </div>
            <div class="question" id="060_other">
                Which Members are meant by "Members other than <span class="redtext">"Maki"</span>"?
            </div>
            <div class="answer">
                Any Member whose name is not <span class="redtext">"Maki Nishikino"</span>.
            </div>
            <div class="question" id="060_rush">
                If this Member
                was <%- skillFormat("⟪ENTER⟫ed using another card's [RUSH], can I return the Member who has [RUSH]") %>
                to my
                Hand?
            </div>
            <div class="answer">
                Yes. That Member is on Stand-By, so you can return it to your Hand. If they are the only Member other
                than <span class="redtext">"Maki"</span>, you have to return it.
            </div>

            <h5><a href="/card/LL02-061/">LL02-061 "Nozomi Tojo"</a></h5>
            <div class="seealso">
                See also: <a href="/faq/general#stand_by">What is the "On Stand-By" state?</a>
            </div>
            <div class="seealso">
                See also: <a href="/faq/general#top_deck_card_faceup">What should I do if I have to turn the top card of
                    my Deck face-up?</a>
            </div>
            <div class="question" id="061_scout">
                When I <%- skillFormat("⟪SCOUT⟫") %> using this Member's Skill, do I draw the card I flipped
                face-up?
            </div>
            <div class="answer">
                Yes. It is still the top card of your Deck, so you should draw it. After drawing it, you can hide the
                front side again.
            </div>
            <div class="question" id="061_matchthis">
                There is no other <span class="redtext">"Nozomi"</span> card on Stand-By besides this card that just
                ⟪ENTER⟫ed. If I flip over a <span class="redtext">"Nozomi"</span> card using this Skill, can
                I <%- skillFormat("⟪SCOUT⟫") %>?
            </div>
            <div class="answer">
                Yes. The <span class="redtext">"Nozomi"</span> card you
                just <%- skillFormat("⟪ENTER⟫ed is on Stand-By, so you can ⟪SCOUT⟫") %>.
            </div>

            <h5><a href="/card/LL02-062/">LL02-062 "Hanayo Koizumi"</a></h5>
            <div class="seealso">
                See also: <a href="/faq/general#stand_by">What is the "On Stand-By" state?</a>
            </div>
            <div class="seealso">
                See also: <a href="/faq/general#top_deck_card_faceup">What should I do if I have to turn the top card of
                    my Deck face-up?</a>
            </div>
            <div class="question" id="062">
                There is was another Member with the same name as the flipped card on Stand-By, and it's not a <span
                        class="redtext">"Hanayo"</span>
                card. What happens in this case?
            </div>
            <div class="answer">
                Nothing happens. The flipped card remains face-up on top of your Deck.
            </div>

            <h5><a href="/card/LL02-063/">LL02-063 "Nico Yazawa"</a></h5>
            <div class="question" id="063">
                If, for example, I perform a <%- skillFormat("⟪LIVE⟫") %> with this <span class="redtext">"Nico"</span>
                card and two <span class="redtext">"Honoka"</span> cards, does this Skill add the extra Piece?
            </div>
            <div class="answer">
                No. This Skill counts the amount of Member cards, not different Members. In this case, the <span
                        class="redtext">"Nico"</span> card is one of three total Members, so the condition is not met
                and the Piece is not added.
            </div>

            <h5><a href="/card/LL02-064/">LL02-064 "Snow halation"</a></h5>
            <div class="question" id="064_each">
                If multiple Lives use this Song card, is the Live Points goal increased for each one?
            </div>
            <div class="answer">
                Yes. One point is added for each card used.
            </div>
            <div class="question" id="064_increase_first">
                I performed a ⟪LIVE⟫ with this Song when the Live Points goal was 9, and hit 9 Live Points. Do I win?
            </div>
            <div class="answer">
                No. The Live Points goal increased by one, so you need another point.
            </div>
            <div class="question" id="064_win">
                If playing with three or more players, what happens if a Live using this Song card is performed when one
                of the players already won with 9 Live Points?
            </div>
            <div class="answer">
                The players who have already won will remain winners. The Live Points goal increases for the remaining
                players.
            </div>
            <div class="question" id="064_out">
                The player who used this Song card for a Live has won. Is the <%- skillFormat("[While Live]") %> Skill
                still active after that?
            </div>
            <div class="answer">
                Yes. <%- skillFormat("[While Live]") %> Skills will be active until the end of the game.
            </div>

            <h5><a href="/card/LL02-065/">LL02-065 "Wonderful Rush"</a></h5>
            <div class="seealso">
                See also: <a href="/faq/general#member_counting">How do I count Members?</a>
            </div>
            <div class="seealso">
                See also: <a href="/faq/general#flip_before_skills">Between flipping over a new Song card from the Set
                    List and the <%- skillFormat("[Live Success]") %> Skills, which one should go first?</a>
            </div>

            <h5><a href="/card/LL02-067/">LL02-067 "baby maybe Koi no Button"</a></h5>
            <div class="seealso">
                See also: <a href="/faq/general#member_counting">How do I count Members?</a>
            </div>

            <h5><a href="/card/LL02-073/">LL02-073 "Eien Friends" / "Nightinggale Love Song"</a></h5>
            <h5><a href="/card/LL02-074/">LL02-074 "Aki no Anata no Sora Tooku" / "Futari Happiness"</a></h5>
            <h5><a href="/card/LL02-075/">LL02-075 "Fuyu ga Kureta Yokan" / "Trouble Busters"</a></h5>
            <div class="question" id="073">
                The Skill says "all three" Members must join
                this <%- skillFormat("⟪LIVE⟫ - does that mean I can't use this Skill of this Song card unless I perform the ⟪LIVE⟫") %>
                with exactly three Member cards?
            </div>
            <div class="answer">
                No. As long as at least one card of each mentioned Member is joining, you can use as many Member cards
                for this <%- skillFormat("⟪LIVE⟫") %> as you want.
            </div>
        </div>
    </div>
</div>
<%- include("../partials/footer", {"jquery": true, "scripts": ["faq"]}); %>