<%- include("../partials/header", {"title": "LL07 FAQ &bull; How To Play", "styles": ["faq", "skill"]}); %>

<div class="content">
    <div class="panel">
        <div class="panel-inner">
            <h4>LL07 Frequenty Asked Questions</h4>

            <h5><a href="/card/LL07-037/">LL07-037 "Chika Takami"</a> to <a href="/card/LL07-045/">LL07-045 "Ruby Kurosawa"</a></h5>
            <div class="seealso">
                See also: <a href="/faq/general#stand_by">What is the "On Stand-By" state?</a>
            </div>

            <h5><a href="/card/LL07-046/">LL07-046 "Chika Takami"</a></h5>
            <div class="question" id="046">
                What happens if I <%- skillFormat("⟪ENTER⟫") %> this card with less than three cards in my Deck?
            </div>
            <div class="answer">
                Even if you have less than three cards in your Deck, you can add one Member without Stars to your Hand and return the rest to the bottom of your Deck.
                However, even if all of them have no Stars, you cannot take another turn, as the requirement for that effect calls for "three cards without Stars" to be shown.
            </div>

            <h5><a href="/card/LL07-047/">LL07-047 "Riko Sakurauchi"</a></h5>
            <div class="question" id="047">
                If I only have one face-up Song card in my Set List, can I flip one face-down Song card face-up?
            </div>
            <div class="answer">
                Yes. The "all your face-up Song cards have the same Attribute" requirement is met in this case, so you can flip one face-down Song card face-up.
            </div>

            <h5><a href="/card/LL07-048/">LL07-048 "Kanan Matsuura"</a></h5>
            <div class="question" id="048_same">
                What does "Member with the same Pieces" mean?
            </div>
            <div class="answer">
                It means a Member who has the exact same number including Piece attributes as another Member.
                The order of Pieces does not matter, so if you <%- skillFormat("⟪ENTER⟫") %>ed a Member with <%- skillFormat("[SMILE][PURE], you can ⟪ENTER⟫") %> another Member with <%- skillFormat("[PURE][SMILE]") %>.
            </div>
            <div class="question" id="048_bday">
                If I <%- skillFormat("⟪ENTER⟫") %> <a href="/card/LL06-008/">LL06-008 "Mari Ohara"</a> with the Birthday Bonus active using this card's Skill, can I <%- skillFormat("⟪ENTER⟫") %> <a href="/card/LL07-051/">LL07-051 "Yoshiko Tsushima"</a> from my Hand?
            </div>
            <div class="answer">
                Yes. When the Birthday Bonus is active, the bonus Pieces are added to that card, so in this example, you can <%- skillFormat("⟪ENTER⟫") %> <a href="/card/LL07-051/">LL07-051 "Yoshiko Tsushima"</a>.
            </div>

            <h5><a href="/card/LL07-049/">LL07-049 "Dia Kurosawa"</a></h5>
            <div class="question" id="049">
                Can I choose not to draw a card if the designated player decides to let everyone draw cards?
            </div>
            <div class="answer">
                No. If "Everyone draws a card" is chosen, you and everyone else will always draw a card.
            </div>

            <h5><a href="/card/LL07-050/">LL07-050 "You Watanabe"</a></h5>
            <div class="question" id="050">
                If I 《Enter》 when I have 0 cards in my deck, will the card I put on the bottom of my deck be 《Enter》 as it is?
            </div>
            <div class="answer">
                yes. Look at the card placed at the bottom of the deck and "appear" one of the members, so the card you put will always "appear".
            </div>

            <h5><a href="/card/LL07-052/">LL07-052 "Hanamaru Kunikida"</a></h5>
            <div class="seealso">
                See also: <a href="/faq/general#">Is it OK if the condition is the same as "If more than"?</a>
            </div>
            <div class="seealso">
                See also: <a href="/faq/general#">[When participating in the live] [When the live is successful] What is the order of skills?</a>
            </div>
            <div class="question" id="052">
                Two people are playing a game and both have the same number of cards in their hand. In this situation, what happens if two or more of these cards participate in the same 《Live》?
            </div>
            <div class="answer">
                The skill of the first player, Hanamaru, draws a card. The second and subsequent "Hanamaru" meet the condition "You have more cards in your hand than any other" at the time of skill, so + [all].
            </div>

            <h5><a href="/card/LL07-053/">LL07-053 "Mari Ohara"</a></h5>
            <div class="question" id="053">
                Can a member who does not have [All], but has a skill that + [All] such as [When participating in a live], use this card's skill to [Appear]?
            </div>
            <div class="answer">
                No. Skills such as [When participating in a live] can only be used at the appropriate timing, so when you are in your hand, you are not a member with [All].
            </div>
            <div class="question" id="053">
                [When Appearing] A member who has [Special Practice] with the skill is [appeared], and by becoming awakened, the number of [All] pieces has increased to 3 or more. In this case, can you draw 3 cards?
            </div>
            <div class="answer">
                yes. This [When entering] skill counts the number of pieces after members appear on the stage. [Special Practice] If you are awakened by a skill, the awakening icon piece will be active when you appear on the stage, so the member will have 3 [All] pieces, including the awakening icon piece. If you have more than that, you meet the conditions.
            </div>

            <h5><a href="/card/LL07-055/">LL07-055 "Kinmirai Happy End"</a></h5>
            <div class="seealso">
                See also: <a href="/faq/general#">What is the status of "Waiting"?</a>
            </div>
            <div class="seealso">
                See also: <a href="/faq/general#">Which comes first, opening the song or the [Successful Live] skill?</a>
            </div>
            <div class="question" id="055">
                At the time of "live" this song, I achieved the goal live P. If the conditions for the skill are met, can I continue to 《Live》?
            </div>
            <div class="answer">
                No. Once the target live P is achieved, the winner will be eliminated, so "live" is not possible.
            </div>
            <div class="question" id="055">
                What would happen if members other than "CYaRon!" participated in the "live" of this song?
            </div>
            <div class="answer">
                If "Chika", "You", and "Ruby" are participating, the skill will be effective regardless of the other members.
            </div>

            <h5><a href="/card/LL07-056M/">LL07-056M"</a></h5>
            <div class="question" id="056M">
                LL05-053 "Mari Ohara" is playing this song while meeting the skill conditions and performing live, with members with [Smile], members with [Pure], and members with [Cool]. "I participated in. In this case, will the skill be +【All】?
            </div>
            <div class="answer">
                No. The skill of this song changes all the [Smile], [Pure], and [Cool] pieces of the participating members to [All] before the [When participating in a live] skill. Therefore, in this case, +[all] is not performed.
            </div>
            <div class="question" id="056M">
                The member who participated in the "live" was given a + [smile] by the skill "When participating in the live" while the song was being played live with the skill conditions met. Does this piece also become [All] by skill?
            </div>
            <div class="answer">
                yes. A piece becomes [all] when it is added.
            </div>
            <div class="question" id="056M">
                What will happen if members other than "AZALEA" participate in the "live" of this song?
            </div>
            <div class="answer">
                As long as "Kanan", "Dia" and "Hanamaru" are participating, the skill will be effective regardless of the other members.
            </div>

            <h5><a href="/card/LL07-057/">LL07-057 "Kowareyasuki"</a></h5>
            <div class="seealso">
                See also: <a href="/faq/general#">[When participating in the live] [When the live is successful] What is the order of skills?</a>
            </div>
            <div class="seealso">
                See also: <a href="/faq/general#">Which comes first, opening the song or the [Successful Live] skill?</a>
            </div>
            <div class="question" id="057">
                What exactly do you mean when you say "each person may appear"?
            </div>
            <div class="answer">
                It means that "up to one "Riko", one "Yoshiko", and one "Mari" may appear". It is possible to 《Appear》 three people one by one, or to 《Appear》 one by one “Riko” and “Yoshiko”.
            </div>
            <div class="question" id="057">
                What will happen if members other than "Guilty Kiss" participate in the "live" of this song?
            </div>
            <div class="answer">
                If "Riko", "Yoshiko", and "Mari" are participating, the skill will be effective regardless of the other members.
            </div>

            <h5><a href="/card/LL07-058M/">LL07-058M"</a></h5>
            <div class="seealso">
                See also: <a href="/faq/general#">Who are the “members on stage”?</a>
            </div>

            <h5><a href="/card/LL07-059/">LL07-059 "G Senjou no Cinderella"</a></h5>
            <div class="question" id="059">
                If there are multiple pieces of this song in the live, will the target live P be added for each piece?
            </div>
            <div class="answer">
                yes. It will be +1 for each song of this live.
            </div>
            <div class="question" id="059">
                When the target live P was 9 points, this song was "live" and the live P became 9 points. Will this be a winner?
            </div>
            <div class="answer">
                No. Since the target live P was +1, we need 1 more point.
            </div>
            <div class="question" id="059">
                In a situation where there are 3 or more people playing and there is a player who has already won with 9 points, what will happen if this song is played "live"?
            </div>
            <div class="answer">
                Players who have already won will remain victorious. The target live P of the remaining players is +1.
            </div>
            <div class="question" id="059">
                The player who played this song "live" won. [During Live] Will the skill continue after that?
            </div>
            <div class="answer">
                yes. The [During Live] skill continues until the end of this game.
            </div>

            <h5><a href="/card/LL07-062/">LL07-062 "Omoi yo Hitotsu ni Nare"</a></h5>
            <div class="seealso">
                See also: <a href="/faq/general#">Who are the “members on stage”?</a>
            </div>
            <div class="seealso">
                See also: <a href="/faq/general#">How should I count the number of members?</a>
            </div>

            <h5><a href="/card/LL07-063M/">LL07-063M"</a></h5>
            <div class="seealso">
                See also: <a href="/faq/general#">How should I count the number of members?</a>
            </div>

            <h5><a href="/card/LL07-064/">LL07-064 "Chika Takami"</a> to <a href="/card/LL07-081/">LL07-081 "Ruby Kurosawa"</a></h5>
            <div class="question" id="064">
                [At the start] If multiple players have the starting members with skills face up, in what order should the skills be used?
            </div>
            <div class="answer">
                Skills are used in order to advance the turn. Once everyone has used their skills, the player taking the first turn starts their turn.
            </div>
        </div>
    </div>
</div>
<%- include("../partials/footer", {"jquery": false, "scripts": []}); %>