<%- include("../partials/header", {"title": "LL06 FAQ &bull; How To Play", "styles": ["faq", "skill"]}); %>

<div class="content">
    <div class="panel">
        <div class="panel-inner">
            <h4>LL06 Frequenty Asked Questions</h4>

            <h5><a href="/card/LL06-028/">LL06-028 "Chika Takami"</a> to <a href="/card/LL06-036/">LL06-036 "Ruby Kurosawa"</a></h5>
            <div class="seealso">
                See also: <a href="/faq/general#members_on_stage">What does "Members on Stage" mean?</a>
            </div>

            <h5><a href="/card/LL06-046/">LL06-046 "Chika Takami"</a></h5>
            <div class="question" id="046_one">
                When I <%- skillFormat("⟪ENTER⟫") %>ed this card, I only had one card in my Hand. I want to empty my Hand, so can I return only one card to the bottom my Deck?
            </div>
            <div class="answer">
                No. You cannot return only one card.
            </div>
            <div class="question" id="046_empty">
                When I <%- skillFormat("⟪ENTER⟫ed this card, my Deck was empty. Can I use this Skill to ⟪ENTER⟫") %> one of the cards I returned?
            </div>
            <div class="answer">
                Yes. In that case, you <%- skillFormat("⟪ENTER⟫") %> the upper card of the two cards you returned.
            </div>

            <h5><a href="/card/LL06-047/">LL06-047 "Riko Sakurauchi"</a></h5>
            <div class="seealso">
                See also: <a href="/faq/general#members_on_stage">What does "Members on Stage" mean?</a>
            </div>
            <div class="question" id="047">
                What does "If the face-up Song cards in your Set List have two or more different Attributes" mean?
            </div>
            <div class="answer">
                Count how many different colors the face-up Song cards in your Set List have (Red/Smile, Green/Pure, Blue/Cool, Yellow/Neutral). If there are two or more, the requirement is met.<br>
                For example, if you have <a href="/card/EX03-028/">EX03-028 "Kimi no Kokoro wa Kagayaiteru kai?"</a>, <a href="/card/LL04-064/">LL04-064 "Aozora Jumping Heart"</a> and <a href="/card/LL06-058/">LL06-058 "Jingle Bells ga Tomaranai"</a> in your Set List, since their attributes are Pure / Neutral / Neutral, you have two different Attributes.
            </div>

            <h5><a href="/card/LL06-048/">LL06-048 "Kanan Matsuura"</a></h5>
            <div class="question" id="048">
                What happens if I <%- skillFormat("⟪ENTER⟫") %> this card with two or less cards in my Deck?
            </div>
            <div class="answer">
                If you have two cards in your Deck, show those two cards, pick one of them to add to your Hand, and return the other to the bottom of your Deck.<br>
                If the card you returned was a <span class="redtext">"Kanan"</span> card, you can <%- skillFormat("⟪ENTER⟫ a <span class=\"redtext\">\"Kanan\"</span> card with [LIVE]") %> from your Hand.<br>
                If you have only one card in your Deck, you can show it and add it to your Hand. However, since you can't return a card to your Deck, you cannot <%- skillFormat("⟪ENTER⟫ a <span class=\"redtext\">\"Kanan\"</span> card with [LIVE]") %> from your Hand. (Also, you cannot choose not to add a card to your Hand.)<br>
                If your Deck is empty, nothing happens.
            </div>

            <h5><a href="/card/LL06-049/">LL06-049 "Dia Kurosawa"</a></h5>
            <div class="question" id="049">
                Does the <%- skillFormat("\"⟪ENTER⟫ed from your Hand\" requirement also count ⟪ENTER⟫ing using [RUSH] and ⟪ENTER⟫") %>ing using Skills such as <a href="/card/LL04-048/">LL04-048 "Kanan Matsuura"</a>?
            </div>
            <div class="answer">
                Yes. The requirement is not only met if you pick <%- skillFormat("⟪ENTER⟫ as your turn action, but also if you use a [RUSH] or a Skill to ⟪ENTER⟫") %> this card.
            </div>

            <h5><a href="/card/LL06-050/">LL06-050 "You Watanabe"</a></h5>
            <div class="seealso">
                See also: <a href="/faq/general#stand_by">What is the "On Stand-By" state?</a>
            </div>
            <div class="seealso">
                See also: <a href="/faq/general#skill_order_same_skill">Does the order of Actions in a Skill matter?</a>
            </div>
            <div class="question" id="050_count">
                What does "three or more different Live Costumes" mean?
            </div>
            <div class="answer">
                Count how many different Live Costumes your Member cards have (in the lower left).<br>
                For example, if you have Member cards with the Live Costumes <span class="redtext">"Aozora Jumping Heart"</span>, <span class="redtext">"Aozora Jumping Heart"</span>, <span class="redtext">"Kimi no Kokoro wa Kagayaiteru kai?"</span>, <span class="redtext">"Kimi no Kokoro wa Kagayaiteru kai?"</span> and <span class="redtext">"Koi ni Naritai AQUARIUM"</span>, you have three different Live Costumes.
            </div>
            <div class="question" id="050_live">
                If I perform a <%- skillFormat("⟪LIVE⟫") %> using this card's Skill, do the <span class="redtext">"You"</span> cards I counted for the requirement have to join?
            </div>
            <div class="answer">
                No. They do not have to join the <%- skillFormat("⟪LIVE⟫") %>.
            </div>
            <div class="question" id="050_order">
                Not all of my Members on my Stage are <span class="redtext">"You"</span> cards, but the <span class="redtext">"You"</span> cards have three or more different Live Costumes. Can I use this Skill to perform a <%- skillFormat("⟪LIVE⟫") %>?
            </div>
            <div class="answer">
                No. If the first part of the requirement is not met, you cannot use the second part of the Skill past the "Then...".
            </div>

            <h5><a href="/card/LL06-051/">LL06-051 "Yoshiko Tsushima"</a></h5>
            <div class="seealso">
                See also: <a href="/faq/general#skill_order_multiple_skills">What if a Member card has two or more
                    Skills?</a>
            </div>
            <div class="seealso">
                See also: <a href="/faq/general#member_counting">How do I count Members?</a>
            </div>
            <div class="question" id="051_skip">
                What does "skipped a turn" or "haven't skipped a turn" mean?
            </div>
            <div class="answer">
                You might have to skip a turn due to some Skills (such as <a href="/card/LL01-071/">LL01-071 "No brand girls" / "START:DASH!!"</a> and <a href="/card/LL04-051/">LL04-051 "Yoshiko Tsushima"</a>). If you were affects by such a Skill at least once in this match, you have "skipped a turn". Otherwise, if you haven't had a Skill like that affect you in this match so far, you "haven't skipped a turn".
            </div>
            <div class="question" id="051_intent">
                Can I intentionally skip a turn by not choosing an action on my turn?
            </div>
            <div class="answer">
                No. You must either <%- skillFormat("⟪SCOUT⟫, ⟪ENTER⟫ a card or perform a ⟪LIVE⟫") %>.
            </div>

            <h5><a href="/card/LL06-052/">LL06-052 "Hanamaru Kunikida"</a></h5>
            <div class="seealso">
                See also: <a href="/faq/general#join_success_order">What is the order for <%- skillFormat("[Live Join]/[Live Success]") %> Skills?</a>
            </div>
            <div class="question" id="052">
                If two or more of this card join the same <%- skillFormat("⟪LIVE⟫") %>, can I treat their Pieces as <%- skillFormat("[ALL]") %>, too?
            </div>
            <div class="answer">
                Yes. Their Skills will affect each other's <%- skillFormat("[SMILE]") %>, so this results in treating all Pieces of all <span class="redtext">"Hanamaru"</span> cards as <%- skillFormat("[ALL]") %>.
            </div>

            <h5><a href="/card/LL06-053/">LL06-053 "Mari Ohara"</a></h5>
            <div class="seealso">
                See also: <a href="/faq/general#skill_order_multiple_skills">What if a Member card has two or more
                    Skills?</a>
            </div>
            <div class="seealso">
                See also: <a href="/faq/general#top_deck_card_faceup">What should I do if I have to turn the top card of my Deck face-up?</a>
            </div>
            <div class="seealso">
                See also: <a href="/faq/general#join_success_order">What is the order for <%- skillFormat("[Live Join]/[Live Success]") %> Skills?</a>
            </div>

            <h5><a href="/card/LL06-054/">LL06-054 "Ruby Kurosawa"</a></h5>
            <div class="question" id="054">
                Does the "<%- skillFormat("⟪ENTER⟫") %>ed from your Deck" requirement also count <%- skillFormat("⟪ENTER⟫") %>ing using Skills such as <a href="/card/LL04-054/">LL04-054 "Ruby Kurosawa"</a>?
            </div>
            <div class="answer">
                Yes. The requirement is not only met if you pick <%- skillFormat("⟪ENTER⟫") %> as your turn action, but also if you use a Skill to <%- skillFormat("⟪ENTER⟫") %> this card.
            </div>
            <div class="question" id="054">
                If I <%- skillFormat("⟪ENTER⟫") %> this card using a <span class="redtext">"Ruby"</span> card's Skill, can the card I <%- skillFormat("⟪ENTER⟫") %> from my Hand be one of the cards I drew from the first part of the Skill?
            </div>
            <div class="answer">
                Yes. The drawn cards can be <%- skillFormat("⟪ENTER⟫") %>ed.
            </div>

            <h5><a href="/card/LL06-058/">LL06-058 "Jingle Bells ga Tomaranai"</a></h5>
            <div class="seealso">
                See also: <a href="/faq/general#flip_before_skills">Between flipping over a new Song card from the Set List and the [Live Success] Skills, which one should go first?</a>
            </div>
            <div class="question" id="058_lowest">
                What does "Member with the lowest number of cards in this <%- skillFormat("⟪LIVE⟫") %>" mean?
            </div>
            <div class="answer">
                Count how many cards of each differently named Member you have used for this <%- skillFormat("⟪LIVE⟫") %>.<br>
                For example, if there are three <span class="redtext">"Chika"</span> cards, two <span class="redtext">"You"</span> cards, and one <span class="redtext">"Riko"</span> card joining a <%- skillFormat("⟪LIVE⟫") %>, <span class="redtext">"Riko"</span> is the Member with the lowest number of cards in this <%- skillFormat("⟪LIVE⟫") %>.
            </div>
            <div class="question" id="058_none">
                When choosing a "Member with the lowest number of cards in this <%- skillFormat("⟪LIVE⟫") %>", can I pick a Member with no cards in this <%- skillFormat("⟪LIVE⟫") %>?
            </div>
            <div class="answer">
                No. You cannot choose a Member who didn't join the <%- skillFormat("⟪LIVE⟫") %> at all.
            </div>
            <div class="question" id="058_tie">
                If there are multiple Members who meet the "Member with the lowest number of cards in this <%- skillFormat("⟪LIVE⟫") %>" requirement, can I pick and <%- skillFormat("⟪ENTER⟫") %> cards for each of them?
            </div>
            <div class="answer">
                No. You must choose one of the tied Members. You cannot <%- skillFormat("⟪ENTER⟫") %> cards of the other Members.
            </div>

            <h5><a href="/card/LL06-059/">LL06-059 "Seinaru Hi no Inori"</a></h5>
            <div class="question" id="059_two">
                In a two-player game, can the second player use this Skill?
            </div>
            <div class="answer">
                Yes. No matter how many people are playing in the match, the requirement is met for whoever is the last to take their turn.
            </div>
            <div class="question" id="059_move">
                There are three players in the match, and the third player in the turn order won. Can the second player now use this Skill?
            </div>
            <div class="answer">
                No. Only the order as it was decided during setup counts, so the player who is last in the turn order doesn't change.
            </div>

            <h5><a href="/card/LL06-061/">LL06-061 "Sora mo Kokoro mo Hareru kara"</a></h5>
            <div class="seealso">
                See also: <a href="/faq/general#no_shuffle_facedown_song">What should I do if I have to flip a Song card in my Set List face-down?</a>
            </div>
            <div class="seealso">
                See also: <a href="/faq/general#join_success_order">What is the order for <%- skillFormat("[Live Join]/[Live Success]") %> Skills?</a>
            </div>

            <h5><a href="/card/LL06-062/">LL06-062 "Waku-Waku-Week!"</a></h5>
            <div class="seealso">
                See also: <a href="/faq/general#join_success_order">What is the order for <%- skillFormat("[Live Join]/[Live Success]") %> Skills?</a>
            </div>
        </div>
    </div>
</div>
<%- include("../partials/footer", {"jquery": true, "scripts": ["faq"]}); %>