<%- include("../partials/header", {"title": "LL06 FAQ &bull; How To Play", "styles": ["faq", "skill"]}); %>

<div class="content">
    <div class="panel">
        <div class="panel-inner">
            <h4>LL06 Frequenty Asked Questions</h4>

            <h5><a href="/card/LL06-028/">LL06-028 "Chika Takami"</a> to <a href="/card/LL06-036/">LL06-036 "Ruby Kurosawa"</a></h5>
            <div class="seealso">
                See also: <a href="/faq/general#members_on_stage">What does "Members on Stage" mean?</a>
            </div>

            <h5><a href="/card/LL06-046/">LL06-046 "Chika Takami"</a></h5>
            <div class="question" id="046_one">
                When I <%- skillFormat("⟪ENTER⟫") %>ed this card, I only had one card in my Hand. I want to empty my Hand, so can I return only one card to the bottom my Deck?
            </div>
            <div class="answer">
                No. You cannot return only one card.
            </div>
            <div class="question" id="046_empty">
                When I <%- skillFormat("⟪ENTER⟫ed this card, my Deck was empty. Can I use this Skill to ⟪ENTER⟫") %> one of the cards I returned?
            </div>
            <div class="answer">
                Yes. In that case, you <%- skillFormat("⟪ENTER⟫") %> the upper card of the two cards you returned.
            </div>

            <h5><a href="/card/LL06-047/">LL06-047 "Riko Sakurauchi"</a></h5>
            <div class="seealso">
                See also: <a href="/faq/general#members_on_stage">What does "Members on Stage" mean?</a>
            </div>
            <div class="question" id="047">
                What does "If the face-up Song cards in your Set List have two or more different Attributes" mean?
            </div>
            <div class="answer">
                Count how many different colors the face-up Song cards in your Set List have (Red/Smile, Green/Pure, Blue/Cool, Yellow/Neutral). If there are two or more, the requirement is met.<br>
                For example, if you have <a href="/card/EX03-028/">EX03-028 "Kimi no Kokoro wa Kagayaiteru kai?"</a>, <a href="/card/LL04-064/">LL04-064 "Aozora Jumping Heart"</a> and <a href="/card/LL06-058/">LL06-058 "Jingle Bells ga Tomaranai"</a> in your Set List, since their attributes are Pure / Neutral / Neutral, you have two different Attributes.
            </div>

            <h5><a href="/card/LL06-048/">LL06-048 "Kanan Matsuura"</a></h5>
            <div class="question" id="048">
                What happens if I <%- skillFormat("⟪ENTER⟫") %> with two or less cards in my Deck?
            </div>
            <div class="answer">
                If you have two cards in your Deck, show those two cards, pick one of them to add to your Hand, and return the other to the bottom of your Deck.<br>
                If the card you returned was a <span class="redtext">"Kanan"</span> card, you can <%- skillFormat("⟪ENTER⟫ a <span class=\"redtext\">\"Kanan\"</span> card with [LIVE]") %> from your Hand.<br>
                If you have only one card in your Deck, you can show it and add it to your Hand. However, since you can't return a card to your Deck, you cannot <%- skillFormat("⟪ENTER⟫ a <span class=\"redtext\">\"Kanan\"</span> card with [LIVE]") %> from your Hand. (Also, you cannot choose not to add a card to your Hand.)<br>
                If your Deck is empty, nothing happens.
            </div>

            <h5><a href="/card/LL06-049/">LL06-049 "Dia Kurosawa"</a></h5>
            <div class="question" id="049">
                Does the <%- skillFormat("\"⟪ENTER⟫ed from your Hand\" requirement also count ⟪ENTER⟫ing using [RUSH] and ⟪ENTER⟫") %>ing using Skills such as <a href="/card/LL04-048/">LL04-048 "Kanan Matsuura"</a>?
            </div>
            <div class="answer">
                Yes. The requirement is not only met if you pick <%- skillFormat("⟪ENTER⟫ as your turn action, but also if you use a [RUSH] or a Skill to ⟪ENTER⟫") %> this card.
            </div>

            <h5><a href="/card/LL06-050/">LL06-050 "You Watanabe"</a></h5>
            <div class="seealso">
                See also: <a href="/faq/general#stand_by">What is the "On Stand-By" state?</a>
            </div>
            <div class="seealso">
                See also: <a href="/faq/general#skill_order_same_skill">Does the order of Actions in a Skill matter?</a>
            </div>
            <div class="question" id="050_count">
                What does "three or more different Live Costumes" mean?
            </div>
            <div class="answer">
                Count how many different Live Costumes your Member cards have (in the lower left).
                For example, if you have Member cards with the Live Costumes <span class="redtext">"Aozora Jumping Heart"</span>, <span class="redtext">"Aozora Jumping Heart"</span>, <span class="redtext">"Kimi no Kokoro wa Kagayaiteru kai?"</span>, <span class="redtext">"Kimi no Kokoro wa Kagayaiteru kai?"</span> and <span class="redtext">"Koi ni Naritai AQUARIUM"</span>, you have three different Live Costumes.
            </div>
            <div class="question" id="050_live">
                When performing a Live with this card's skill, do I have to participate in the live costume "Week" that I referred to?
            </div>
            <div class="answer">
                No. Participation is not required.
            </div>
            <div class="question" id="050_order">
                Not all of the waiting members are "Week", but there are 3 or more types of live costumes for "Week".
                In this case, can I 《Live》 with this skill?
            </div>
            <div class="answer">
                No. If the first condition is not satisfied, nothing will be done after "further ~".
            </div>

            <h5><a href="/card/LL06-051/">LL06-051 "Yoshiko Tsushima"</a></h5>
            <div class="seealso">
                See also: <a href="/faq/general#">What if a member has more than one skill?</a>
            </div>
            <div class="seealso">
                See also: <a href="/faq/general#">How should I count the number of members?</a>
            </div>
            <div class="question" id="051">
                What do you mean by "If you weren't resting your turn in this game" or "If you weren't resting your turn"?
            </div>
            <div class="answer">
                Mainly by card skills (example: LL01-071 "No brand girls" / "START: DASH!!", LL04-051 "Yoshiko Tsushima")
                "Rest one (or more) of your turns. ] more than once,
                It will be "I was resting my turn in this game". Conversely, if you didn't go, it means you didn't rest your turn.
            </div>
            <div class="question" id="051">
                Can I 'rest my turn' by intentionally not performing an action on my turn?
            </div>
            <div class="answer">
                No. Please do either "appearance", "invitation" or "live".
            </div>

            <h5><a href="/card/LL06-052/">LL06-052 "Hanamaru Kunikida"</a></h5>
            <div class="seealso">
                See also: <a href="/faq/general#">[When participating in the live] [When the live is successful] What is the order of skills?</a>
            </div>
            <div class="question" id="052">
                If 2 or more of this card participate in the same 《Live》, will all of those pieces become 【All】?
            </div>
            <div class="answer">
                yes. Each makes the 【Smile】 of the other "Hanamaru" into 【All】, so in the end all the "Hanamaru" pieces become 【All】.
            </div>

            <h5><a href="/card/LL06-053/">LL06-053 "Mari Ohara"</a></h5>
            <div class="seealso">
                See also: <a href="/faq/general#">What if a member has more than one skill?</a>
            </div>
            <div class="seealso">
                See also: <a href="/faq/general#">What if the top card of the deck is turned face up?</a>
            </div>
            <div class="seealso">
                See also: <a href="/faq/general#">[When participating in the live] [When the live is successful] What is the order of skills?</a>
            </div>

            <h5><a href="/card/LL06-054/">LL06-054 "Ruby Kurosawa"</a></h5>
            <div class="question" id="054">
                Does "Appear from the deck" include "Appear" by skills such as LL04-054 "Ruby Kurosawa"?
            </div>
            <div class="answer">
                yes. This includes not only "Appearance" as an action performed on the turn, but also by skill.
            </div>
            <div class="question" id="054">
                If I use Ruby's skill to 《Enter》 from my deck, can I still 《Enter》 the card I drew first?
            </div>
            <div class="answer">
                yes. You can 《appear》.
            </div>

            <h5><a href="/card/LL06-058/">LL06-058 "Jingle Bells ga Tomaranai"</a></h5>
            <div class="seealso">
                See also: <a href="/faq/general#">Which comes first, opening the song or the [Successful Live] skill?</a>
            </div>
            <div class="question" id="058">
                What does "Member with the fewest member cards participating in this [Live]" mean?
            </div>
            <div class="answer">
                Count the number of participating member cards for each member with a different name participating in this "live".
                For example, if "Chika" has 3 cards, "You" has 2 cards, and "Riko" has 1 card, "Riko" will be the member with the fewest participating member cards.
            </div>
            <div class="question" id="058">
                Can I choose 0 members for "Member with the fewest participating member cards"?
            </div>
            <div class="answer">
                No. You cannot choose a member who has not participated in even one card.
            </div>
            <div class="question" id="058">
                If there are multiple "members with the fewest participating member cards", can multiple members with different names be selected and "appeared"?
            </div>
            <div class="answer">
                No. Please choose one member from among the fewest members. Other members cannot 《Appear》.
            </div>

            <h5><a href="/card/LL06-059/">LL06-059 "Seinaru Hi no Inori"</a></h5>
            <div class="question" id="059">
                In a two-player game, can the second player use skills?
            </div>
            <div class="answer">
                yes. Regardless of how many people are participating in the game, the condition is satisfied if the order to take the turn is the last.
            </div>
            <div class="question" id="059">
                The game was played by 3 people, and the 3rd player won. After that, can the 2nd player use the skill?
            </div>
            <div class="answer">
                No. We only look at the order decided in the game preparation, so the last player will not be moved up by winning.
            </div>

            <h5><a href="/card/LL06-061/">LL06-061 "Sora mo Kokoro mo Hareru kara"</a></h5>
            <div class="seealso">
                See also: <a href="/faq/general#">What if you use a skill to turn face-up cards in the set list face-down?</a>
            </div>
            <div class="seealso">
                See also: <a href="/faq/general#">[When participating in the live] [When the live is successful] What is the order of skills?</a>
            </div>

            <h5><a href="/card/LL06-062/">LL06-062 "Waku-Waku-Week!"</a></h5>
            <div class="seealso">
                See also: <a href="/faq/general#">[When participating in the live] [When the live is successful] What is the order of skills?</a>
            </div>
        </div>
    </div>
</div>
<%- include("../partials/footer", {"jquery": true, "scripts": ["faq"]}); %>