<%- include("partials/header", {"title": "Card List", "styles": ["grid", "grid-sets"]}); %>
<h5>Main Sets</h5>
<div class="content">
    <div class="panel grid">
        <% for(var i = 0; i < main.length; i++) { %>
            <%- include("partials/grid-set", main[i]); %>
        <% } %>
    </div>
</div>
<h5>Trial Sets</h5>
<div class="content">
    <div class="panel grid">
        <% for(var i = 0; i < trial.length; i++) { %>
            <%- include("partials/grid-set", trial[i]); %>
        <% } %>
    </div>
</div>
<h5>Promo Cards</h5>
<div class="content">
    <div class="panel grid">
        <% for(var i = 0; i < pr.length; i++) { %>
            <%- include("partials/grid-set", pr[i]); %>
        <% } %>
    </div>
</div>
<h5>Other</h5>
<div class="content">
    <div class="panel grid">
        <% for(var i = 0; i < other.length; i++) { %>
            <%- include("partials/grid-set", other[i]); %>
        <% } %>
    </div>
</div>
<%- include("partials/footer", {"jquery": false, "scripts": []}); %>