<%- include("../partials/header", {"title": "Edit Annotations", "styles": ["pattern-create"]}); %>
<div class="content">
    <div class="panel">
        <div class="panel-inner">
            <div class="row">
                <div class="six columns">
                    <h5>Skill</h5>
                    <textarea id="skill"><%- skill %></textarea>
                    <div id="error" class="error">aaa</div>
                </div>
                <div class="six columns">
                    <h5>Preview</h5>
                    <div id="result"></div>
                </div>
            </div>
            <div id="annotation_div">
                <span class="pill">card</span> <span class="pill">song</span> <span class="pill">mem</span>
                <span class="pill">costume</span> <span class="pill">skilltext</span><br>
            </div>
            <div style="width: 100%; text-align: right;">
                <a class="button button-primary" id="sub">Submit</a>
            </div>
        </div>
    </div>
</div>
<script>const skillid = <%- id %>; const redircardno = "<%- cardno %>";</script>
<%- include("../partials/footer", {"jquery": true, "scripts": ["annotate/edit"]}); %>