<a href="/card/<%= f.cardNo %>/" class="grid-item">
    <div class="imgcont">
        <img src="/images/<%= f.set %>/<%= f.cardNo %>-front.jpg">
        <img src="/images/<%= f.set %>/<%= f.cardNo %>-back.jpg">
    </div>
    <div class="namecont">
        <span>▶</span><span><%= f.name %></span>
    </div>
    <div class="linecont">
        <span><%= f.cardNo %></span><span><%= f.type %></span>
    </div>
</a>